/* START GENERAL */

.btn-success {
    background-color: #5CB85F !important;
}

/* ==START HEADER== */
.kastem .col {
    display: none;
}

/* ==END HEADER== */

/* ==START CONTENT== */
/* =START HOME= */
.img-car {
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0px;
}

#start-home {
    position: relative;
    height: 60vh;
}

#start-home .col {
    height: 68vh;
}

/* =END HOME= */

/*! START MENU MULAI SEWA */
#startMenuMulaiSewa {
    position: absolute;
    margin-top: -3%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#startMenuMulaiSewa .container {
    border: 1px solid rgb(133, 127, 127);
    border-radius: 10px;
    padding-bottom: 10px;
    background-color: white;
}

.menu-mulai-sewa-konten .menus {
    width: 100%;
}

/*! END MENU MULAI SEWA */

/* ! START CARD SEWA */
#startCardSewa {
    margin-top: 10%;
}

.startCardSewa .card {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

ul li img {
    margin-right: 3%;
}

#cars-container .col .card .deskripsi-card{
    height: 100px;
}

.daftar-gambar-mobil{
    max-height: 200px;
}

/* ! END CARD SEWA */

/* ==END CONTENT== */

/* ==START FOOTER== */
#start-footer {
    padding-top: 8%;
}

.footer .col a {
    text-decoration: none;
}

/* ==END FOOTER== */
/* END GENERAL */

/* START TABLET */
@media only screen and (min-width: 426px) and (max-width: 768px) {

    /* =START HOME= */
    #start-home {
        position: relative;
        height: 45vh;
    }

    #start-home .col {
        height: 45vh;
    }

    /* =END HOME= */
    /* =END TESTIMO= */

    /*! START MENU MULAI SEWA */
    #startMenuMulaiSewa {
        position: absolute;
        margin-top: -3%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    #startMenuMulaiSewa .container {
        border: 1px solid rgb(133, 127, 127);
        border-radius: 10px;
        padding-bottom: 10px;
        background-color: white;
    }

    .menu-mulai-sewa-konten .menus {
        width: 100%;
    }

    /*! END MENU MULAI SEWA */

    /* ! START CARD SEWA */
    #startCardSewa {
        margin-top: 15%;
    }

    .startCardSewa .card {
        width: 100%;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    ul li img {
        margin-right: 3%;
    }

    /* ! END CARD SEWA */
}

/* END TABLET */

/* START MOBILE */
@media only screen and (max-width: 425px) {

    /* ==START HEADER== */
    .mengatur-navbar {
        padding-left: 5% !important;
    }

    .kastem .col {
        margin-top: 10%;
        display: inline-block;
    }

    .navbar-collapse.collapsing .navbar-nav {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -45%;
        transition: all 0.2s ease;
    }

    .navbar-collapse.show .navbar-nav {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        flex-direction: column;
        height: auto;
        width: 50%;
        transition: left 0.35s ease;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    /* ==END HEADER== */

    /* ==START CONTENT== */
    /* =START HOME= */
    .img-car {
        width: 100%;
    }

    #start-home {
        position: relative;
        height: 80vh;
    }

    .home {
        flex-direction: column !important;
    }

    /* =END HOME= */

    /* ==END CONTENT== */

    /* ==START FOOTER== */
    .footer {
        flex-direction: column !important;
    }

    /* ==END FOOTER== */

    /*! START MENU MULAI SEWA */
    #startMenuMulaiSewa {
        position: absolute;
        margin-top: -3%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    #startMenuMulaiSewa .container {
        border: 1px solid rgb(133, 127, 127);
        border-radius: 10px;
        padding-bottom: 10px;
        background-color: white;
    }

    .menu-mulai-sewa-konten .menus {
        width: 100%;
    }

    /*! END MENU MULAI SEWA */

    /* ! START CARD SEWA */
    #startCardSewa {
        margin-top: 10%;
    }

    .startCardSewa .card {
        width: 100%;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    ul li img {
        margin-right: 3%;
    }

    /* ! END CARD SEWA */
}

/* END MOBILE */