/* START GENERAL */
.btn-success {
    background-color: #5CB85F !important;
}

/* ==START HEADER== */
.kastem .col {
    display: none;
}

/* ==END HEADER== */

/* ==START CONTENT== */
/* =START HOME= */
.img-car {
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0px;
}

#start-home {
    position: relative;
    height: 60vh;
}

#start-home .col {
    height: 68vh;
}

/* =END HOME= */

/* =START OUR SERVICE= */

#start-our-service {
    padding-top: 8%;
}

ul {
    list-style: none;
    padding: 0;
}

ul li img {
    margin-right: 3%;
}

/* =END OUR SERVICE= */

/* =START WHY US= */
#start-why-us {
    padding-top: 8%;
}

.keterangan .col {
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    padding: 1% !important;
    margin: 0.5% !important;
}

/* =END WHY US= */

/* =START TESTIMO= */

#start-testimo {
    padding-top: 8%;
}

.gambar-profil {
    text-align: center;
}

.btn-carousel {
    display: flex;
    justify-content: center;
}

.carousel-control {
    background: #5CB85F;
    width: 30px;
    height: 30px;
    border: 10px;
    border-radius: 100px;
    display: flex;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
}

.carousel button {
    border-radius: 100%;
    margin: 5px 15px;
}

.tombol-crsl {
    width: 15px;
    height: 15px;
}

/* =END TESTIMO= */

/* =START SEWA MOBIL= */
#start-sewa-mobil {
    padding-top: 8%;
}

.sewa-mobil {
    align-items: center !important;
    height: 50vh;
    background-color: #0D28A6;
    border-radius: 10px;
    color: aliceblue;
}

/* =END SEWA MOBIL= */

/* =START FAQ= */
#start-faq {
    padding-top: 8%;
}

/* =END FAQ= */
/* ==END CONTENT== */

/* ==START FOOTER== */
#start-footer {
    padding-top: 8%;
}

.footer .col a {
    text-decoration: none;
}

/* ==END FOOTER== */
/* END GENERAL */

/* START TABLET */
@media only screen and (min-width: 426px) and (max-width: 768px) {

    /* =START HOME= */
    #start-home {
        position: relative;
        height: 45vh;
    }

    #start-home .col {
        height: 45vh;
    }

    /* =END HOME= */

    /* =START WHY US= */
    .keterangan {
        align-items: center;
        flex-direction: column !important;
    }

    /* =END WHY US= */

    /* =START TESTIMO= */
    .card {
        width: 100% !important;
        margin-left: 0 !important;
    }

    .testimo .carousel-item .sembunyikan {
        display: none;
    }

    .testimo .col-lg-10 {
        padding-left: 4% !important;
        padding-right: 4% !important;
        text-align: center;
    }

    /* =END TESTIMO= */
}

/* END TABLET */

/* START MOBILE */
@media only screen and (max-width: 425px) {

    /* ==START HEADER== */
    .mengatur-navbar {
        padding-left: 5% !important;
    }

    .kastem .col {
        margin-top: 10%;
        display: inline-block;
    }

    .navbar-collapse.collapsing .navbar-nav {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -45%;
        transition: all 0.2s ease;
    }

    .navbar-collapse.show .navbar-nav {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        flex-direction: column;
        height: auto;
        width: 50%;
        transition: left 0.35s ease;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    /* ==END HEADER== */

    /* ==START CONTENT== */
    /* =START HOME= */
    .img-car {
        width: 100%;
    }

    #start-home {
        position: relative;
        height: 80vh;
    }

    .home {
        flex-direction: column !important;
    }

    /* =END HOME= */

    /* =START OUR SERVICE= */
    #start-our-service {
        padding-top: 20%;
    }

    .our-service {
        flex-direction: column !important;
    }

    ul li {
        font-size: 11pt;
    }

    /* =END OUR SERVICE= */

    /* =START WHY US= */
    #start-why-us {
        padding-top: 20%;
    }

    .keterangan {
        align-items: center;
        flex-direction: column !important;
    }

    .keterangan .col {
        width: 95%;
    }

    /* =END WHY US= */

    /* =START TESTIMO= */
    #start-testimo {
        padding-top: 20%;
    }

    .card {
        width: 100% !important;
        margin-left: 0 !important;
    }

    /* testimo rate */
    .testimo .col-lg-10 {
        padding-left: 4% !important;
        padding-right: 4% !important;
        text-align: center;
    }

    /*  */

    .testimo .row {
        flex-direction: column !important;
    }

    .testimo .carousel-item .sembunyikan {
        display: none;
    }

    /* =END TESTIMO= */

    /* =START SEWA MOBIL= */
    .sewa-mobil {
        align-items: center !important;
        height: 50vh;
        background-color: #0D28A6;
        border-radius: 10px;
        color: aliceblue;
    }

    /* =END SEWA MOBIL= */

    /* =START FAQ= */
    .faq {
        flex-direction: column !important;
    }

    /* =END FAQ= */
    #start-faq {
        padding-top: 20%;
    }

    /* ==END CONTENT== */

    /* ==START FOOTER== */
    .footer {
        flex-direction: column !important;
    }

    /* ==END FOOTER== */
}

/* END MOBILE */